<updated><%= @entry.created_at %></updated>
<entry>
  <id><%= @entry.id %></id>
  <updated><%= @entry.created_at %></updated>
  <title><%= @entry.title %></title>
  <author>
    <name><%= @entry.author %></name>
  </author>
  <content<%= if @entry.html? then " type=\"html\"" else "" end %>><%= @entry.content %></content>
</entry>