<updated><%= Time.now.to_datetime.rfc3339 %></updated>
<entry>
  <id>urn:kill-the-newsletter:<%= fresh_token %></id>
  <title><%= h title %></title>
  <author><name><%= h author %></name></author>
	<updated><%= Time.now.to_datetime.rfc3339 %></updated>
  <content type="<%= content_type %>"><%= h content %></content>
</entry>
