<updated><%= now %></updated>
<entry>
  <id>urn:kill-the-newsletter:<%= fresh_token %></id>
  <title><%= h title %></title>
  <author><name><%= h author %></name></author>
  <updated><%= now %></updated>
  <content type="<%= content_type %>"><%= h yield %></content>
</entry>
