<!DOCTYPE html>
<html>
  <head>
    <title>Kill the Newsletter!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Convert email newsletters into Atom feeds.">
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <header>
      <h1>Kill the Newsletter!</h1>
      <p>Convert email newsletters into Atom feeds.</p>
      <p><%= File.read "public/envelope-to-feed.svg" %></p>
    </header>
    <% if @inbox %>
      <p>“<%= @inbox.name %>” inbox successfully created.</p>
      <p>Sign up for a newsletter with <a href="mailto:<%= @inbox.email %>"><%= @inbox.email %></a>.</p>
      <p>Subscribe to the Atom feed at <a href="<%= @inbox.feed %>"><%= @inbox.feed %></a>.</p>
      <p>Don’t share these addresses! They contain a security token that other people could use to spam your inbox and unsubscribe you from your newsletters.</p>
      <p><a href="/">Create another inbox.</a></p>
    <% else %>
      <form method="POST" action="/">
        <p>
          <input type="text" name="name" placeholder="Newsletter name…" autofocus="autofocus">
          <input type="submit" value="Create Inbox">
        </p>
      </form>
    <% end %>
    <footer>
      <p>Created by <a href="https://www.leafac.com">Leandro Facchinetti</a>.</p>
    </footer>
  </body>
</html>
