<!DOCTYPE html>
<html>
  <head>
    <title>Kill the Newsletter!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Convert email newsletters into Atom feeds.">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header>
      <h1>Kill the Newsletter!</h1>
      <p><%= File.read "public/images/envelope-to-feed.svg" %></p>
      <h2>Convert email newsletters into Atom feeds</h2>
    </header>
    <main>
      <% if @error %>
        <p class="error"><%= @error %></p>
      <% end %>
      <% if @inbox.nil? %>
        <form method="POST" action="/">
          <p><input type="text" name="name" placeholder="Newsletter name…" autofocus></p>
          <p><input type="submit" value="Create Inbox"></p>
        </form>
      <% elsif @inbox.persisted? %>
        <p>“<%= @inbox.name %>” inbox created</p>
        <p>Sign up for the newsletter with<br><a href="mailto:<%= @inbox.email %>" target="_blank"><%= @inbox.email %></a></p>
        <p>Subscribe to the Atom feed at<br><a href="<%= @inbox.feed %>" target="_blank"><%= @inbox.feed %></a></p>
        <p><em>Don’t share these addresses!</em><br>They contain a security token<br>that other people could use to send you spam<br>and unsubscribe you from your newsletters.</p>
        <p><a href="/" class="button">Create Another Inbox</a></p>
      <% else %>
        <p class="error">Error creating “<%= @inbox.name %>” inbox!<br>Please contact the <a href="mailto:kill-the-newsletter@leafac.com?subject=[Kill the Newsletter!] Error creating “<%= @inbox.name %>” inbox with token “<%= @inbox.token %>”">system administrator</a><br>with token “<%= @inbox.token %>”.</p>
      <% end %>
    </main>
    <footer>
      <p>By <a href="https://www.leafac.com">Leandro Facchinetti</a></p>
    </footer>
  </body>
</html>
